
body {
    background-color: hsl(32, 49%, 63%);
    margin: 0;
    padding: 0;
}
Canvas{
    display: block;
      margin: auto;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
#myCanvas {
    width: 80vw;
    height: 70vh;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 23px;
    margin-bottom: 15px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    background-color: rgba(37, 34, 34, 0.862);
    height:10vh ;
}

.buttons {
    margin-top: 20px;
}

button {
    font-size: 16px;
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(21, 21, 25);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #d05107;
}
